*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

.background-logo{
    width: 100%;
    height: 1000px;
    z-index: -1;
    position: fixed;
}

section{
    width: 30%;
    height: 55%;
    padding: 20px;
    background: white ;
    margin: 80px auto 0;
    position: absolute;
    left: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center; 
}

h1{
    font-size: 100px;
    font-weight: 700px; 
    padding-bottom: 20px;
}
.stone{
    background-color:  rgb(36, 15, 112);
    font-size: 70px;
    margin-right: 20px;
    
}
.paper{
    background-color:  rgb(209, 102, 31);
    font-size: 70px;
    margin-right: 20px;
    
}
.scissors{
    background-color:  rgb(7, 54, 7);
    font-size: 70px;
    width: 90px;
}
button{
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;

}
button:hover{
    opacity: 0.8;
}
button:active{
    background: rgb(247, 243, 243);
}
p{
    font-size: 30px;
    font-weight: 700px;
    padding-top: 20px;
}
.paper-logo{
    z-index: 1;
    position: absolute;
    width: 32%;
    height: 40%;
    margin-top: 20px;
}
.scissors-logo{
    position: absolute;
    z-index: 1;
    left: 1320px;
    margin: 40px;
    width: 700px;
}
.your-score span{
    color: rgb(2, 99, 102);
}
.opponents-score span{
    color: rgb(209, 114, 24);
}

@media (max-width: 1000px){
    body{
        width: 100vw;
        height: 100vh;
    }
    .background-logo{
        width: 100%;
        height: 100%;
    }
    section{
        width: 90%;
        height: 60%;
        left: 25px;
        margin-top: 15px;
    }
    .paper-logo{
        display:none;
    }
    .scissors-logo{
        display: none;
    }
}