*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
}

.hidden{
    opacity: 0;
    filter: blur(25px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}

.conteiner{
    display: flex;
}

.conteiner :nth-child(2){
    transition-delay: 400ms;
}

.conteiner :nth-child(3){
    transition-delay: 700ms;
}

.background-logo{
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
}

section{
    width: 30vw;
    height: 80vh;
    padding: 20px;
    background: white ;
    margin: 40px 0 0 -230px;
    position: absolute;
    left: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center; 
}

h1{
    font-size: 80px;
    font-weight: 700px; 
    padding-bottom: 20px;
}
#stone{
    background-color:  rgb(36, 15, 112);
    font-size: 60px;
    margin-right: 20px;
    
}
#paper{
    background-color:  rgb(209, 102, 31);
    font-size: 60px;
    margin-right: 20px;
    
}
#scissors{
    background-color:  rgb(7, 54, 7);
    font-size: 60px;
    width: 90px;
}
button{
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;

}
button:hover{
    opacity: 0.8;
}
button:active{
    background: rgb(247, 243, 243);
}
p{
    font-size: 30px;
    font-weight: 700px;
    padding-top: 20px;
}

.your-score span{
    color: rgb(2, 99, 102);
}
.opponents-score span{
    color: rgb(209, 114, 24);
}

@media (max-width: 1100px){
    .background-logo{
        width: 100vw;
        height: 100vh;
    }
    section{
        width: 50vw;
        height: 50vh;
        margin: 150px 0 0 -440px;
    }
    
}

@media(max-width: 920px){
    section{
        width: 90vw;
        height: 35vh;
        margin: 250px 0 0 -650px;
    }
    .background-logo{
        width: 100vw;
        height: 100vh;
    } 
}

@media(max-width: 770px){
    section{
        height: 50vh;
    }
}

@media(max-width: 550px){
    .background-logo{
        width: 100vw;
        height: 100vh;
    }
    
    section{
        height: 50vh;
        margin: 150px 0 0 -670px;
    }
    h1{
        font-size: 50px;
    }
    #paper{
        font-size: 40px;
    }
    #scissors{
        font-size: 40px;
        width: 60px;
    }
    #stone{
        font-size: 40px;
    }
    p{
        font-size: 25px;
    }
}

@media(max-width: 440px){
    section{
        margin: 200px 0 0 -678px;
    }
    h1{
        font-size: 70px;
    }
}

@media(max-width: 380px){
    h1{
        font-size: 50px;
    }
    p{
        font-size: 20px;
    }
}
@media(max-width: 350px){
    p{ 
        font-size: 25px;
    }
    h1{
        font-size: 60px;
    }
}